.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #273457;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.footer p {
  padding: 14px;
}
